@keyframes text-slide-up {
  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

@keyframes text-slide-down {
  to {
    transform: translateY(1rem) scale(1);
    opacity: 0;
  }
}

@keyframes text-scroll {
  to {
    transform: translateX(-100%);
  }
}

@keyframes fade-up {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.delay-1 {
  > * {
    animation-delay: 0.05s;
  }
}

.delay-2 {
  > * {
    animation-delay: 0.15s;
  }
}

.delay-3 {
  > * {
    animation-delay: 0.25s;
  }
}