$primary: #383343;
$secondary: #E9E8EB;
$white: #fff;
$border: #828282;
$card-bg: #443E51;
$critical: #ff6969;

$heading-1: clamp(40px, 5.5vw, 120px);
$heading-2: clamp(30px, 4vw, 72px);
$heading-3: clamp(28px, 2.75vw, 48px);
$action-heading: clamp(28px, 2.25vw, 36px);
$body: clamp(18px, 2vw, 20px);
$body-small: 16px;
$action: 18px;
$carousel-heading: clamp(64px, 6.5vw, 120px);

$page-padding: 2rem;
$page-padding-mobile: 1rem;
$border-radius: 22px;
$section-spacing: clamp(150px, 30vh, 250px);
$section-spacing-sm: 15vh;
$section-width: 1500px;

$ease: cubic-bezier(.16,.8,.32,.99);
$ease-in-out: cubic-bezier(.59,.48,.09,.8);
$ease-out-expo: cubic-bezier(0.19,1,0.22,1);

$xl-breakpoint: 1900px;
$lg-breakpoint: 1200px;
$md-breakpoint: 992px;
$sm-breakpoint: 520px;
$xs-breakpoint: 375px;

@font-face {
  font-family: 'GT-Eesti-Display';
  src:
    url('../assets/fonts/GT-Eesti-Display-Regular.ttf'),
    url('../assets/fonts/GT-Eesti-Display-Regular.otf') format('opentype'),
    url('../assets/fonts/GT-Eesti-Display-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT-Eesti-Display-thin';
  src:
    url('../assets/fonts/GT-Eesti-Display-Thin.ttf'),
    url('../assets/fonts/GT-Eesti-Display-Thin.otf') format('opentype'),
    url('../assets/fonts/GT-Eesti-Display-Thin.woff') format('woff');
}

@font-face {
  font-family: 'GT-Super';
  src:
    url('../assets/fonts/GT-Super-Text-Regular-Italic.ttf'),
    url('../assets/fonts/GT-Super-Text-Regular-Italic.otf') format('opentype'),
    url('../assets/fonts/GT-Super-Text-Regular-Italic.woff') format('woff');
}