$primary: #383343;
$secondary: #E9E8EB;
$white: #fff;
$border: #828282;
$card-bg: #443E51;

$heading-1: clamp(40px, 5.5vw, 96px);
$heading-2: clamp(30px, 4vw, 72px);
$heading-3: clamp(28px, 2.75vw, 48px);
$action-heading: clamp(28px, 2.25vw, 36px);
$body: 20px;
$body-small: 16px;
$action: 18px;

$page-padding: 2rem;
$border-radius: 22px;
$section-spacing: clamp(150px, 20vh, 180px);

$ease: cubic-bezier(.16,.8,.32,.99);

@font-face {
  font-family: 'GT-Eesti-Display';
  src:
    url('../assets/fonts/GT-Eesti-Display-Regular.ttf'),
    url('../assets/fonts/GT-Eesti-Display-Regular.otf') format('opentype'),
    url('../assets/fonts/GT-Eesti-Display-Regular.woff') format('woff');
}

@font-face {
  font-family: 'GT-Eesti-Display-thin';
  src:
    url('../assets/fonts/GT-Eesti-Display-Thin.ttf'),
    url('../assets/fonts/GT-Eesti-Display-Thin.otf') format('opentype'),
    url('../assets/fonts/GT-Eesti-Display-Thin.woff') format('woff');
}

@font-face {
  font-family: 'GT-Super';
  src:
    url('../assets/fonts/GT-Super-Text-Regular-Italic.ttf'),
    url('../assets/fonts/GT-Super-Text-Regular-Italic.otf') format('opentype'),
    url('../assets/fonts/GT-Super-Text-Regular-Italic.woff') format('woff');
}